/**************COLORES Y FUENTES**************/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
/**************ESTILOS GENERALES**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.contenedor {
  margin: 3rem auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.contenedor .cajas {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #a3a3a3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.contenedor .cajas span {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.ca1 {
  background: #00c18c;
}
.ca1:hover {
  background: #009d72;
}

.ca2 {
  background: #ea5180;
}
.ca2:hover {
  background: #e63169;
}

.ca3 {
  background: #53bfe3;
}
.ca3:hover {
  background: #34b4de;
}

.ca4 {
  background: #f8c64d;
}
.ca4:hover {
  background: #f7bb2b;
}

.ca5 {
  background: #df6dc2;
}
.ca5:hover {
  background: #d950b6;
}

.menu {
  display: none;
  position: absolute;
  top: 130px;
  width: 240px;
  background: #363636;
  border-radius: 5px;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  font-size: 0.9rem;
  width: 100%;
  display: inline-block;
  padding: 0.7rem 0;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #4a4a4a;
}
.menu a:hover {
  background: #1d1d1d;
}

.menu:after, .menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.menu:after {
  border-bottom-color: #363636;
  border-width: 10px;
  margin-left: -10px;
}

.menu:before {
  border-bottom-color: #363636;
  border-width: 10px;
  margin-left: -10px;
}