/**************COLORES Y FUENTES**************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$oscuro:#363636;
$colores:#00c18c,#ea5180,#53bfe3,#f8c64d,#df6dc2;

$fuente:'Roboto Condensed', sans-serif;

/**************ESTILOS GENERALES**************/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fuente;
}

.contenedor{
    margin:3rem auto;
    width: 40%;
    display: flex;
    justify-content: space-between;

    .cajas{
        position:relative;
        width: 100px;
        height: 100px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgb(163, 163, 163);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease;

        cursor: pointer;

        span{
            font-size: 1.5rem;
            color:rgba(0,0,0,.5)
        }
    }
}

@for $i from 1 through 5{
    .ca#{$i}{
        background:nth($colores,$i);

        &:hover{
            background: darken(nth($colores,$i),7%);
        }
    }
}

.menu{
    display: none;
    position: absolute;
    top:130px;
    width: 240px;
    background: $oscuro;
    border-radius: 5px;
    
    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        font-size: .9rem;
        width: 100%;
        display: inline-block;
        padding: .7rem  0;
        color:#fff;
        text-align: center;
        border-bottom :1px solid lighten($oscuro, 8%);
        &:hover{
            background:darken($oscuro,10%);
        }
    }
}

.menu:after, .menu:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.menu:after {
	
    border-bottom-color:$oscuro;
	border-width: 10px;
	margin-left: -10px;
}
.menu:before {

	border-bottom-color:$oscuro;
	border-width: 10px;
	margin-left: -10px;
}